* {
    margin: 0;
    padding: 0;
    border: 0;
}

.navbar {
    background-color: #fff;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .05);
    min-height: 90px;
    font-size: 20px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.claseCentrar {
    justify-content: center;
    display: flex;
    flex-direction: columna;
}

.carousel {
    min-height: 240px;
    padding: 10px;
    border-radius: 2px;
    text-align: center;
}

.nav-tabs {
    background-color: #8020df;
}

.nav-item :hover {
    background-color: rgb(113, 90, 138);
}

h1 {
    font-family: 'Courier New', Courier, monospace;
}

h3 {
    color: aliceblue;
}

th {
    background-color: rgb(7, 5, 86);
    color: aliceblue;
}

tr:hover {
    background-color: rgb(5, 82, 116);
    color: aliceblue;
}

.bg-dark {
    background-color: #16161d !important;
}

#section_footer {
    padding: 40px 0;
    text-align: center;
    color: #fff;
}