* {
    box-sizing: border-box;
    margin: 3px;
    padding: 5px;
}

.claseCentrar {
    justify-content: center;
    display: flex;
    flex-direction: columna;
}

h1 {
    font-family: 'Courier New', Courier, monospace;
}

h3 {
    background-color: rgb(5, 82, 116);
    color: aliceblue;
}

th {
    background-color: rgb(7, 5, 86);
    color: aliceblue;
}

tr:hover {
    background-color: rgb(5, 82, 116);
    color: aliceblue;
}

footer {
    background-color: #16161d;
    color: aliceblue;
    text-align: center;
    width: 100%;
    padding: 10px;
}