* {
    box-sizing: border-box;
}

.claseCentrar {
    justify-content: center;
    display: flex;
    flex-direction: columna;
}

.nav-tabs {
    background-color: rgb(171, 222, 248);
}

.nav-item :hover {
    background-color: aquamarine;
}

h1 {
    font-family: 'Courier New', Courier, monospace;
}

h3 {
    background-color: rgb(5, 82, 116);
    color: aliceblue;
}

th {
    background-color: rgb(7, 5, 86);
    color: aliceblue;
}

tr:hover {
    background-color: rgb(5, 82, 116);
    color: aliceblue;
}

footer {
    background-color: #16161d;
    color: aliceblue;
    text-align: center;
    width: 100%;
    padding: 10px;
}